<div class="channel-wrapper">
  <div class="col s12">
    <img id="channel-logo" ng-src="{{cCtrl.channel.logo}}" alt="">
    <div class="video-container stream-container center-align">
      <iframe id="channel-stream" width="60%" height="480" ng-src="{{cCtrl.channelUrl}}" frameborder="0" allowfullscreen></iframe>
      <!-- <iframe src="https://player.twitch.tv/?channel=paingamingbr" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/paingamingbr?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from paiNGamingbr on www.twitch.tv</a> -->
      <iframe class="pull-right" frameborder="0" scrolling="no" id="chat_embed" ng-src="{{cCtrl.chatUrl}}" height="500" width="25%"></iframe>
    </div>
    <span id="powered">powered by</span> <img src="../images/twitch.png" id="twitch-logo">
  </div>

</div>
