<div id="home-wrapper">
  <div class="guide"><p class="center">Thanks for visiting! Be sure to check out the streams and matches!</p></div>
  <div class="back-wrapper">
    <img src="../ic_launcher/web_hi_res_512.png" id="home-logo-icon" >
    <div class="action">
      <p>Check out these pages!</p>
      <!-- <i id="pointer" class="material-icons">arrow_downward</i> -->
      <a ui-sref="streams" class="amber darken-3 waves-effect waves-light btn">Games <i class="material-icons">desktop_mac</i></a>
      <a ui-sref="matches" class="amber darken-3 waves-effect waves-light btn">Matches <i class="material-icons">headset_mic</i></a>
    </div>
  </div>
</div>
