<div class="home-wrapper grey darken-4">
  <div class="guide"><p class="center">You can click on individual matches to see team players and stats!</p></div>
  <div id="broke" ng-if="mCtrl.matches.length === 0"><img id="broke-img" class="center" src="../images/itsbroke.jpg" ng-mouseover="mCtrl.goCray()" ng-mouseleave="mCtrl.nah()"><h3 id="updating" class="center">We're updating matches, relax. <img class="emojis" src="../images/poop.png"><img class="emojis" src="../images/thumbs.png"></h3></div>
  <div class="row">
      <div class="col s12 m4" ng-repeat="match in mCtrl.matches">
        <div class="card small">
          <div id="match-image" class="card-image waves-effect waves-block waves-light">
            <a class="modal-trigger" href="#/matches#{{match._id}}" ng-click="mCtrl.openModal(match._id)"><img id="vs" src="../images/vs.svg"></a>
            <a class="modal-trigger" href="#/matches#{{match._id}}" ng-click="mCtrl.openModal(match._id)"><img id="match-logo" ng-src="{{match.teams[0].teamLogoUrl}}"></a>
            <a class="modal-trigger" href="#/matches#{{match._id}}" ng-click="mCtrl.openModal(match._id)"><img id="match-logo" ng-src="{{match.teams[1].teamLogoUrl}}"></a>
          </div>
          <div class="card-action">
            <a class="modal-trigger" href="#/matches#{{match._id}}" ng-click="mCtrl.openModal(match._id)"><span id="match-title" class="card-title activator grey-text text-darken-4">{{match.teams[0].teamName}} vs {{match.teams[1].teamName}}</a>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="{{match._id}}" class="modal bottom-sheet match-modal-wrapper" ng-repeat="match in mCtrl.matches">
  <div class="match-modal-content" id="match-modal-content">
    <a href="" ng-click="mCtrl.closeModal(match._id)"><span class="glyphicon glyphicon-resize-small back-arrow"></span></a>
    <div class="row match-modal">
      <div>
        <img class="team-logo" ng-src="{{match.teams[0].teamLogoUrl}}"><h3>{{match.teams[0].teamName}}</h3>
        <div class="row">
          <div class="col s12 m2" id="player-card-wrapper" ng-repeat="player in match.teams[0].players">
            <div class="card">
              <div class="card-image">
                <a class="" href="{{mCtrl.parseImageUrl(player.playerUrl)}}" target="_blank" >
                  <img id="playerImg" ng-src="{{mCtrl.parseImageUrl(player.playerImg)}}" on-error-src="../images/defaultavatar.png">
                </a>
                <span class="card-title" id="player-name">{{player.playerName}}</span>
              </div>
              <div id="player-action" class="card-action">
                Rating <b>{{player.rating}}</b><br/>
                KPR <b>{{player.killsPerRound}}</b><br/>
                DPR <b>{{player.deathsPerRound}}</b><br/>
                Headshot <b>{{player.headshots}}</b><br/>
                <!-- Contributed <b>{{player.roundsContributed}}</b> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <table class="centered col s10 offset-s1 stats-table">
          <thead>
            <tr>
                <th>Team</th>
                <th>Avg Rating</th>
                <th>Avg KPR</th>
                <th>Avg DPR</th>
                <th>Avg Headshot</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{match.teams[0].teamName}}</td>
              <td class="{{ mCtrl.getBg(match.teams[0], match.teams[1], 'rating') }}">{{mCtrl.getAvg(match.teams[0], 'rating') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[0], match.teams[1], 'killsPerRound') }}">{{mCtrl.getAvg(match.teams[0], 'killsPerRound') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[0], match.teams[1], 'deathsPerRound') }}">{{mCtrl.getAvg(match.teams[0], 'deathsPerRound') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[0], match.teams[1], 'headshots') }}">{{mCtrl.getAvg(match.teams[0], 'headshots') | number:2}}</td>
            </tr>
            <tr>
              <td>{{match.teams[1].teamName}}</td>
              <td class="{{ mCtrl.getBg(match.teams[1], match.teams[0], 'rating') }}">{{mCtrl.getAvg(match.teams[1], 'rating') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[1], match.teams[0], 'killsPerRound') }}">{{mCtrl.getAvg(match.teams[1], 'killsPerRound') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[1], match.teams[0], 'deathsPerRound') }}">{{mCtrl.getAvg(match.teams[1], 'deathsPerRound') | number:2}}</td>
              <td class="{{ mCtrl.getBg(match.teams[1], match.teams[0], 'headshots') }}">{{mCtrl.getAvg(match.teams[1], 'headshots') | number:2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <img class="team-logo" ng-src="{{match.teams[1].teamLogoUrl}}"><h3>{{match.teams[1].teamName}}</h3>
        <div class="row">
          <div class="col s12 m2" id="player-card-wrapper" ng-repeat="player in match.teams[1].players">
            <div class="card">
              <div class="card-image">
                <a class="" href="{{mCtrl.parseImageUrl(player.playerUrl)}}" target="_blank" >
                  <img id="playerImg" ng-src="{{mCtrl.parseImageUrl(player.playerImg)}}" on-error-src="../images/defaultavatar.png">
                </a>
                <span class="card-title" id="player-name">{{player.playerName}}</span>
              </div>
              <div id="player-action" class="card-action">
                Rating <b>{{player.rating}}</b><br/>
                KPR <b>{{player.killsPerRound}}</b><br/>
                DPR <b>{{player.deathsPerRound}}</b><br/>
                Headshot <b>{{player.headshots}}</b><br/>
                <!-- Contributed <b>{{player.roundsContributed}}</b> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
