<div class="stats-wrapper">
  <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card amber darken-3">
            <div class="card-content white-text">
              <span class="card-title">Statistics</span>
              <p>We don't currently have any news stats available. Check out our links below for now.</p>
            </div>
            <div id="stats-action" class="card-action amber darken-3">
              <a href="#/streams">Streams</a>
              <a href="#/matches">Matches</a>
            </div>
          </div>
        </div>
      </div>
</div>
