<div class="streams-wrapper">
  <div class="guide"><p class="center">You can click on individual games to see available streams and watch them!</p></div>
  <div class="row">
    <div class="col s12 m4" ng-repeat="game in sCtrl.games">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a class="modal-trigger" href="#/streams#{{game.game._id}}" ng-click="sCtrl.openModal(game.game._id)"><img id="game-logo" ng-src="{{sCtrl.fixLogoUrl(game.game.logo.large)}}"></a>
          <a class="modal-trigger" href="#/streams#{{game.game._id}}" ng-click="sCtrl.openModal(game.game._id)">
            <span class="card-title game-title"><p id="actual-title">{{game.game.name}}</p>
              <span class="game-viewers right"><i class="material-icons right">account_box</i> {{game.viewers}}</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="{{game.game._id}}" class="modal bottom-sheet stream-modal" ng-repeat="game in sCtrl.games">
  <div class="stream-modal-content modal-content">
    <a href="" ng-click="sCtrl.closeModal(game.game._id)"><span class="glyphicon glyphicon-resize-small back-arrow"></span></a>
    <h3 class="top-streams-title center">Top Streams</h3>
    <div class="row">
      <div class="col s12 m6 l3" ng-repeat="stream in game.streams">
        <div class="card stream-card">
          <div class="card-image waves-effect waves-block waves-light">
            <a class="modal-trigger" ng-click="sCtrl.changeChannel(stream.channel,game.game._id)"><img id="game-logo" ng-src="{{sCtrl.fixLogoUrl(stream.preview.large)}}"></a>
          </div>
          <div id="player-action" class="card-action">
            <a class="modal-trigger" ng-click="sCtrl.changeChannel(stream.channel,game.game._id)"><img id="game-logo"><span id="stream-title" class="card-title">{{stream.channel.name}}<i class="material-icons right">account_box</i><span class="game-viewers right">{{stream.viewers}}</span></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
