body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }

main {
  flex: 1 0 auto;
  background-color: #ecf0f1;
}

#mobile-demo {
  background-color: #FF8A00;
  color: #FF8A00;
}

#mobile-demo:hover{
  background-color: #FF8A00;
  color: black;
}

#mobile-demo {
  color: #FF8A00;
}

#menu-button {
  display: inline;
  width: 100px;
}

#menu-icon {
  display: inline;
  width: 100px;
}

#logo-icon {
  margin-left: 30px;
  display: inline;
  font-size: 40px;
  font-weight: bolder;
}

.nav-wrapper {
  font-weight: bold;
  background: rgba(221,109,0,1);
  /*background: -moz-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 11%, rgba(255,143,0,1) 11%, rgba(255,143,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(221,109,0,1)), color-stop(11%, rgba(221,109,0,1)), color-stop(11%, rgba(255,143,0,1)), color-stop(100%, rgba(255,143,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 11%, rgba(255,143,0,1) 11%, rgba(255,143,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 11%, rgba(255,143,0,1) 11%, rgba(255,143,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 11%, rgba(255,143,0,1) 11%, rgba(255,143,0,1) 100%);
  background: linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 11%, rgba(255,143,0,1) 11%, rgba(255,143,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6d00', endColorstr='#ff8f00', GradientType=1 );*/
}

.nav-wrapper a:hover {
  color: white;
  text-decoration: none;
}

.nav-wrapper a:visited {
  color: white;
  text-decoration: none;
}

.nav-wrapper a:active {
  color: white;
  text-decoration: none;
}

.nav-wrapper a:focus {
  color: white;
  text-decoration: none;
}

footer.page-footer {
  margin-top: 0;
  background: rgba(221,109,0,1);
  background: -moz-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 52%, rgba(255,143,0,1) 52%, rgba(255,143,0,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(221,109,0,1)), color-stop(52%, rgba(221,109,0,1)), color-stop(52%, rgba(255,143,0,1)), color-stop(100%, rgba(255,143,0,1)));
  background: -webkit-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 52%, rgba(255,143,0,1) 52%, rgba(255,143,0,1) 100%);
  background: -o-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 52%, rgba(255,143,0,1) 52%, rgba(255,143,0,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 52%, rgba(255,143,0,1) 52%, rgba(255,143,0,1) 100%);
  background: linear-gradient(45deg, rgba(221,109,0,1) 0%, rgba(221,109,0,1) 52%, rgba(255,143,0,1) 52%, rgba(255,143,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6d00', endColorstr='#ff8f00', GradientType=1 );
}

/* label color */
.input-field label {
  color: #c6975f;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FF8A00;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0 1px 0 0 #FF8A00;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0 1px 0 0 #FF8A00;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #d13f3f;
  box-shadow: 0 1px 0 0 #d13f3f;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

#login-button {
  margin-top: -30px;
  margin-left: 10%;
}

#name-button {
  margin-top: -33px;
  margin-left: 10%;
}

#nav-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.guide {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 10px;
}

.guide p {
  font-weight: lighter;
  margin-bottom: 0px;
}
