.channel-wrapper {
  background-color: #ecf0f1;
  height: 100%;
}

.stream-container {
  position: relative;;
}

#channel-stream {
  margin-left: 10%;
  max-width: 80%;
  width: 80%;
}

#chat_embed {
  margin-left: 10%;
  max-width: 80%;
  width: 80%;
}

.video-container{
  min-height: 300px;
}

#channel-logo {
  position: absolute;
  z-index: 5;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #FF8A00;
}

#twitch-logo {
  z-index: 5;
  margin-left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 150px;
}

#powered {
  display: inline-block;
  color: black;
  font-weight: bolder;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 25px;
}
