.dash-wrapper {
}

#streams-date {
  color: #FF8A00;
}

#stream-name:link {
  color: #FF8A00;
  text-decoration: none;
}

#stream-status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75%;
}

#stream-name:hover {
  color: #FF8A00;
  text-decoration: none;
}

#stream-name {
  color: #FF8A00;
  text-decoration: none;
}

#remove-stream {
  color: white;
  border-radius: 50%;
}

#recent-streams-title {
  display: inline;
  vertical-align: middle;
}

#clear-streams-button {
  color: white;
  margin-left: 5px;
  padding: 0 5px 5px 5px;
}

#clear-streams-button:hover {
  color: white;
  text-decoration: none;
}

.chip {
  font-size: 10px;
}

#favorite-game-search {
  max-width: 60%;
  margin-bottom: 0px;
}

#gotogame-link {
  color: #FF8A00;
}

#gotogame-link:hover {
  color: #FF8A00;
  text-decoration: none;
}
