#streams-date {
  color: #FF8A00;
}

#stream-name:link {
  color: #FF8A00;
  text-decoration: none;
}

#stream-name:hover {
  color: #FF8A00;
  text-decoration: none;
}

#stream-name {
  color: #FF8A00;
  text-decoration: none;
}
