#home-wrapper {
  background-image: url('../../images/bg.jpg');
  background-position: center;
  background-size: cover;
  color: #FF8A00;
}

.back-wrapper {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: rgba(0,0,0,0.5);
}

#home-wrapper h1 {
  font-size: 91px;
  font-weight: bolder;
}

#home-logo-icon {
  text-align: center;
  width: 150px;
}

#desc {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#pointer {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.action {
  text-align: center;
  color: white;
}

/*@media (max-width: 340px) {
  .action {
    top: 75%;
  }
  #home-wrapper {
    height: 95vh;
  }
  .back-wrapper {
    height: 95vh;
  }
}

@media (max-width: 700px) {
  .action {
    top: 70%;
  }
  #home-wrapper {
    height: 85vh;
  }
  .back-wrapper {
    height: 85vh;
  }
}

@media (min-width: 701px) {
  .action {
    top: 62%;
  }
  #home-wrapper {
    height: 80vh;
  }
  .back-wrapper {
    height: 80vh;
  }
}*/

.action p {
  font-weight: bold;
  font-size: 40px;
}

.action a {
  margin: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: #FF8A00;
}

.action a:link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.action a:hover {
  background-color: #DD6D00;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.action i {
  font-size: 12px;
}
