.match-time {
  font-size: 12px;
}

#match-logo {
  width: 49%;
  display: inline;
}

.chip > img {
  background-color: black;
}

.team-name {
  font-size: 14px;
  font-weight: bold;
}

.team-pos {
  color: #49b34e;
}

.team-neg {
  color: #e25025;
}

.match-info > div {
}

.match-modal-wrapper {
  border-top: 2px solid #FF8A00;
  text-align: center;
}

.match-modal div {
  color: white;
}

.match-modal h3 {
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
}

.match-modal-perc {
  padding: 5px 20px 5px 20px;
}

#match-modal-content {
  height: 100%;
  padding: 15px 0px 0px 0px;
  background-image: url('../images/csgoback.jpg');
  background-position: center;
  background-size: cover;
}

#player-name {
  color: #FF8A00;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  max-height: 50px;
  padding: 0;
}

.csgo-lounge-button {
  background-color: black;
  border-radius: 4px;
}

.csgo-lounge-button img {
  padding: 5px 10px;
}

.modal.bottom-sheet.match-modal-wrapper {
  background-color: black;
  max-height: 100%;
  height: 100%;
}

.team-logo {
  padding: 5px;
  width: 60px;
  vertical-align: middle;
}

#player-card-wrapper:first-of-type {
}

.back-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: rgba(0,0,0,0.8);
  color: #FF8A00;
  font-size: 40px;
  border-radius: 5px;
}

#vs {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 30%;
  width: 30%;
}

#match-image {
  background-color: #ecf0f1;
  max-height: 100%;
  height: 100%;
}

#match-title {
}

#player-action {
  background-color: #ecf0f1;
  color: black;
}

#broke {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#broke-img {
  width: 200px;
  border-radius: 4px;
  display: inherit;
  margin: 0 auto;
}

.emojis {
  width: 30px;
}

.stats-table {
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.higher {
  border-radius: 0px;
  background-color: rgba(46, 204, 113,0.5);
}

.lower {
  border-radius: 0px;
  background-color: rgba(231, 76, 60,0.5);
}

.tied {
  border-radius: 0px;
  background-color: rgba(241, 196, 15,0.5)
}
