.new-profle-wrapper {
}

.profile-form {
  background-color: #e7e7e7;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.profile-image-container {
  margin-top: 15px;
  text-align: center;
}

.first-row {
  margin-bottom: 0px;
}

#user-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#displayName {
  margin-top: 25px;
}

#displayNameLbl {
  margin-top: 25px;
}

.new-profile-game {
  background: none;
}

.new-profile-game-collection {
  margin-top: 20px;
}

#favorite-game-search-input {
  color: black;
}

#favorite-game-search {
  color: black;
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}

#favorite-game-search:focus {
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}

#favorite-game-search-input label {
 color: #999;
}

 #favorite-game-search-input + label:focus {
  color: #FF8A00;
 }

#favorite-game-search-input:focus {
  border-bottom: 1px solid #FF8A00;
  color: black;
}

#displayName {
  color: black;
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}

#email {
  color: black;
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}

#age {
  color: black;
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}

#location {
  color: black;
  border-bottom: 1px solid #FF8A00;
  box-shadow: 0px 1px 0px 0px #FF8A00;
}
